.Cp_Carousel_Img {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgb(85, 84, 84);
}

.Cp_Carousel_Img p {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    min-width: 100% !important;
}

.Cp_Carousel_Click {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.Cp_Carousel_Btn {
    width: 10%;
    border: none;
    height: 100%;
    display: flex;
    color: white;
    font-size: 40px;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.Cp_Carousel_Btn:hover {
    cursor: pointer;
    background-color: rgb(213, 213, 213, 0.5);
}

.Cp_Carousel_BtnSpot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Cp_Carousel_BtnSpot p {
    height: 100%;
}

.Cp_Carousel_BtnSpot div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cp_Carousel_BtnSpot div p {
    width: 30px;
    height: 4px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
}

.Cp_Carousel_BtnSpot div p:hover {
    cursor: pointer;
    background-color: rgb(242, 134, 134);
}