.CP_Dialog {
    margin: 0;
    width: 200px;
    height: auto;
    padding: 10px;
    font-size: 12px;
    text-indent: 1em;
    line-height: 30px;
    position: absolute;
    border-radius: 3px;
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 3px rgb(88, 87, 87);
}

.CP_Dialog:after {
    content: '';
    border: none;
    position: absolute;
    box-sizing: border-box;
    border: 5px solid white;
    border-right-color: white;
    border-bottom-color: white;
    border-top-color: transparent;
    background-color: transparent;
    border-left-color: transparent;
    box-shadow: 1px 1px 2px rgb(187, 184, 184);
}

.CP_Dialog_top:after {
    left: 47% !important;
    bottom: -6px !important;
    transform: rotate(45deg);
}

.CP_Dialog_bottom:after {
    left: 47% !important;
    top: -5px !important;
    transform: rotate(225deg);
}

.CP_Dialog_left:after {
    top: 43%;
    right: -6px !important;
    transform: rotate(-45deg);
}

.CP_Dialog_right:after {
    top: 43%;
    left: -5px !important;
    transform: rotate(-225deg);
}