.CP_Dialog {
    position: absolute;
    width: 200px;
    height: auto;
    min-height: 80px;
    font-size: 12px;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(88, 87, 87);
    box-sizing: border-box;
    background-color: white;
}

.CP_Dialog:after {
    content: '';
    width: 10px;
    height: 10px;
    border: none;
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(187, 184, 184);
}

.CP_Dialog_top:after {
    left: 30px !important;
    bottom: -5px !important;
    transform: rotate(45deg);
}

.CP_Dialog_bottom:after {
    left: 30px !important;
    top: -5px !important;
    transform: rotate(225deg);
}

.CP_Dialog_left:after {
    right: -5px !important;
    top: 35px !important;
    transform: rotate(-45deg);
}

.CP_Dialog_right:after {
    left: -5px !important;
    top: 35px !important;
    transform: rotate(-225deg);
}