.Cp_Message {
    top: -5vh;
    width: 25%;
    height: 40px;
    display: flex;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    color: rgb(248, 138, 138);
    margin: 0px 37.5% 20px 37.5%;
    background-color: rgb(243, 202, 199);
}

.Cp_Message_animation {
    animation-duration: 4s;
    animation-name: Cp_Message_example;
}

@keyframes Cp_Message_example {
    0% {
        top: -3vh;
    }

    25% {
        top: 3vh;
    }

    50% {
        top: 3vh;
    }

    75% {
        top: 3vh;
    }

    100% {
        top: -5vh;
    }
}