.Cp_Switch {
    width: 45px;
    padding: 2px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: left;
    border: 1px solid rgb(225, 219, 208);
}

.Cp_BtnSwitch {
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 12px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}